<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet_Alterar</servlet-name>
        <servlet-class>br.com.bean.Servlet_Alterar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Busca</servlet-name>
        <servlet-class>br.com.bean.Servlet_Busca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Deletar</servlet-name>
        <servlet-class>br.com.bean.Servlet_Deletar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>br.com.LoginControllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroLoginServlet</servlet-name>
        <servlet-class>br.com.login.CadastroLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControllers</servlet-name>
        <servlet-class>br.com.sevlets.LoginControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministradorControllers</servlet-name>
        <servlet-class>br.com.LoginControllers.AdministradorControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministradorCotrollers</servlet-name>
        <servlet-class>br.com.sevlets.AdministradorCotrollers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_Alterar</servlet-name>
        <url-pattern>/Alterar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Busca</servlet-name>
        <url-pattern>/Busca.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Deletar</servlet-name>
        <url-pattern>/Deletar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroLoginServlet</servlet-name>
        <url-pattern>/Cadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControllers</servlet-name>
        <url-pattern>/Loginn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministradorControllers</servlet-name>
        <url-pattern>/Administrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministradorCotrollers</servlet-name>
        <url-pattern>/Administradorr</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
